@import '../../styles/partials/mixins.scss';
@import '../../styles/partials/typography.scss';
@import '../../styles/partials/global.scss';






$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$brainflix-darkBlue:#0065AD;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;


.body {
    font-family: $font-family, sans-serif;
    display: flex;
}

$brainflix-black: #323232;
$brainflix-blue: #0095FF;
$brainflix-darkBlue:#0065AD;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;

.header {
  padding: 1rem;
  justify-content: flex-start;

  @include tablet {
      display: flex;
      justify-content: space-between;
      padding: 1rem 2rem 1rem 2rem;
  }

  @include desktop {
    //padding: 1rem 8rem 1rem 8rem;
    display: flex;
    justify-content: space-between;
    padding: 0rem -2rem 1rem 0rem;
    width: 178%;
  }

  &-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      &__logo {
          padding-bottom: 1rem;

        @include tablet {
            display: block;
            padding-bottom: 0;
        }
        @include desktop {
            width: 12rem;
        }
      }
  }
}

.search-section {

  @include tablet {
      display: flex;
  }

  &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1rem;

      @include tablet {
          width: 60vw;
          padding-bottom: 0;
      }

      @include desktop {
          width: 36vw;
          display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: -10%;
      }

      &__input {
          width: 60vw;
          height: 2.25rem;
          padding-left: 2.2rem;
          background-image: url(../../assets/icons/search.svg);
          background-repeat: no-repeat;
          background-position: 0.5rem 0.45rem;
          background-color: $alabaster;
          border-radius: .25rem;
          border: solid  .0625rem;
          color: $mercury;


          &::placeholder {
              color: $brainflix-black;
          }

          &:focus {
              outline: solid $brainflix-blue .0625rem;
          }

        @include tablet {
            width: 30vw;
        }

        @include desktop {
            width: 100%;
            margin-left: -74%;
            display: flex;
        }
        }

      &__user {
          width: 2.25rem;
          height: 2.25rem;
          border-radius: 50%;
          object-fit: cover;


        @include desktop {
            width: 3.25rem;
            height: 3.25rem
        }
      }
  }

  &__button {
      height: 2.5rem;
      width: 100%;
      background-color: $brainflix-blue;
      border: 0px;
      border-radius: .25rem;
      color: white;
      background-image: url(../../assets/icons/upload.svg);
      background-repeat: no-repeat;
      background-position: 8px center;
      &:hover {
        background-color: $brainflix-darkBlue;
      }

      @include tablet {
          display: none;
          width: 35%;
      }

      @include desktop {
        //height: 2.5rem;
        width: 0%;
        background-color: #0095FF;
       // border: 0px;
        border-radius: 0.01rem;
        color: white;
        background-image: url(http://localhost:3000/static/media/upload.5883ade….svg);
        background-repeat: no-repeat;
        background-position: 8px center;
        margin-left: -69vw;
        margin-top: 4%;
        display: flex;
        margin-right: -119vw;
        height: 0;
      }

      &-tablet {
          display: none;
          height: 2.25rem;
          width: 9rem;
          background-color: $brainflix-blue;
          border: 0px;
          border-radius: .25rem;
          color: white;
          background-image: url(../../assets/icons/upload.svg);
          background-repeat: no-repeat;
          background-position: 8px center;

          &:hover {
            background-color: $brainflix-darkBlue;
          }

          @include tablet {
              display: block;
          }
          @include desktop {
            display: block;
            width: 11rem;
            height: 3.25rem;

          }
      }
  }
}
