@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/typography.scss' as *;

.body{
    font-family: $font-family;
    display: flex;
}
.comment-section {
    padding: 1rem 1rem 0 1rem;

    @include tablet {
        padding: 1rem 2rem 0 2rem;
    }

    @include desktop {
        padding: 2rem 0 0 2rem;
    }

    &__number {
        padding: 1rem 0;
        font-weight: 700;
        @include tablet {
            font-size: 1.2rem;
        }

        @include desktop {
            font-weight: 700;
            font-size: 1.8rem
        }
    }
}

.input {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: solid 2px $mercury;
    margin-bottom: 1rem;

    @include tablet {
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 0;
    }

    @include desktop {
        justify-content: space-between;
        border-bottom: none;
        margin-bottom: 0;
        padding-left: 1rem;
        padding-right: 2rem;
    }

    &-img {
        width: 2.25rem;
        height: 2.25rem;
        object-fit: cover;
        border-radius: 50%;
        margin-top: 1.3rem;

        @include tablet {
            margin: 0 1rem 0 0;
        }
        @include desktop {
            width: 3.25rem;
            height: 3.25rem;
            object-fit: cover;
            border-radius: 50%;
            margin-top: 1.3rem;
            margin-left: -3%;
        }
    }

    &-wrapper {
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        @include desktop {
            width: 48vw;
            margin-top: -3%;
            margin-left: -28%;
        }

        &__text {
            width: 65vw;
            height: 6rem;
            margin-top: 0.2rem;
            margin-bottom: 1rem;
            resize: none;
            padding: 0.6rem;
            border: solid 1px $mercury;
            border-radius: 4px;
            background-color: $alabaster;

            @include tablet {
                width: 28rem;
                height: 1.7rem;
            }
            @include desktop {
                width: 26rem;
                height: 2rem;
            }

            &:focus {
                outline: solid $brainflix-blue .0625rem;
            }

            @include tablet {
                width: 30rem;
                height: 2.5rem;
            }

            @include desktop {
                width: 28rem;
            }
        }

        &__submit {
            background-color: $brainflix-blue;
            border: none;
            height: 2.3rem;
            border-radius: 4px;
            background-image: url(../../assets/icons/add_comment.svg);
            background-repeat: no-repeat;
            background-position: 0.7rem center;
            background-size: 1.2rem;
            color: white;

            @include tablet {
                width: 10rem;
                height: 2.5rem;
                margin-top: 0.2rem;
                margin-left: 1.75rem;
            }
            @include desktop {
                width: 30%;
                margin-left: 85%;
                margin-top: -12%;
            }
        }
    }
}

            .text-wrapper {
                width: 73vw;

                @include tablet {
                width: 30rem;
                }
            }

.input-wrapper__label {
    color: $silver;

    @include desktop {
        margin-top: 4vw;
        display: flex;
    }
}
