@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/typography.scss' as *;




.body{
    font-family: $font-family;
    display: flex;}

    .video-text {
        padding: 1rem 1rem 0rem 1rem;

        @include tablet {
            padding: 1rem 2rem 0rem 2rem;
        }

        @include desktop {
            padding: 2rem 0rem 0rem 2rem;
        }
    }

    .video__title {
        border-bottom: solid 2px $mercury;
        padding-bottom: 1rem;
        font-family: $font-family;
        font-size: 1.7em;

        @include tablet {
            border: none;
            padding-bottom: 0rem;
            font-size: 2em;
        }
    }


    .video-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: solid 2px $mercury;
            padding: 0rem 0 1rem 0;

            @include desktop {
                padding-right: 2rem;
            }

            &-side {
                display: flex;
                flex-direction: column;
                width: 45%;

                @include tablet {
                    display: flex;
                    flex-direction: row;
                }
                @include desktop {
                    display: flex;
                    width: 45%;
                    flex-direction: row;
                }

                &__Band {
                    padding-bottom: 1rem;
                    font-weight: 700;

                    @include tablet {
                        padding: 0rem 2rem 0 0 ;
                    }
                    @include desktop {
                        margin-top: -7%;
                    }
                }
            }

            &-info1 {
                display: flex;
                flex-direction: column;
                width: 45%;

                @include tablet {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }

                &-views {
                    width: 15vw;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 1rem;

                    @include tablet {
                        justify-content: flex-end;
                    }
                    @include desktop {
                        justify-content: flex-start;
                        font-size: 1.2rem;
                        margin-top: -7%;

                    }

                    &__img {
                        padding: 0rem 0.5rem 0rem 0rem;

                        @include desktop {
                            margin-top: -11%;
                        }
                    }
                }

                &-likes {
                    width: 15vw;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                @include tablet {
                    flex-direction: none;
                }

                @include desktop {
                    width: 15vw;
                    display: flex;
                    justify-content: flex-start;
                    flex-direction: row;
                    margin-left: 50%;
                    margin-top: -16%;
                    font-size: 1.2rem;
                    }

                    &__likecount {
                        color: #AFAFAF;
                        margin-left: 5vw;
                    }

                    @include tablet {
                        justify-content: flex-end;
                        padding: 0rem 0rem 1rem 0rem;
                    }
                    @include desktop {
                        font-size: 1.2rem;
                        display: flex;
                    }
                    &__img {

                        @include tablet {
                            padding: 0rem 0.5rem 0rem 0rem;
                            margin-right: -4vw
                        }
                    }
                }
            }
    }

    .video__desc {
        padding-top: 1rem;
        font-family: $font-family;
        @include tablet {
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
        @include desktop {
            padding-right: 6%;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 2rem;
        }
    }


    .video-info-info1-views__viewcount {
        color: $silver;

        @include desktop {
            margin-top: -1%;
            font-size: 1.2rem;
            font-size: 1.2rem;
        }
    }
    .video-info-side__date {
        color: $silver;

        @include desktop {
            margin-top: -7%;
            margin-left: 9%;
            font-size: 1.2rem;
        }
    }
