@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/global.scss' as *;
@use '../../styles/partials/typography.scss' as *;




.body{
    font-family: $font-family;
    display: flex;}

    .video-text {
        padding: 1rem 1rem 0rem 1rem;

        @include tablet {
            padding: 1rem 2rem 0rem 2rem;
        }

        @include desktop {
            padding: 2rem 0rem 0rem 2rem;
        }
    }

    .video__title {
        border-bottom: solid 2px $mercury;
        padding-bottom: 1rem;

        @include tablet {
            border: none;
            padding-bottom: 0rem;
        }
    }


    .video-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: solid 2px $mercury;
            padding: 1rem 0 1rem 0;

            @include desktop {
                padding-right: 2rem;
            }

            &-side {
                display: flex;
                flex-direction: column;
                width: 45%;

                @include tablet {
                    display: flex;
                    flex-direction: row;
                }

                &__Band {
                    padding-bottom: 1rem;
                    font-weight: 700;

                    @include tablet {
                        padding: 0rem 2rem 0 0 ;
                    }
                }
            }

            &-int {
                display: flex;
                flex-direction: column;
                width: 45%;

                @include tablet {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                }

                &-views {
                    width: 15vw;
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 1rem;

                    @include tablet {
                        justify-content: flex-end;
                    }

                    &__img {
                        padding: 0rem 0.5rem 0rem 0rem;
                    }
                }

                &-likes {
                    width: 15vw;
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;

                @include tablet {
                    flex-direction: none;
                }

                    &__likecount {
                        //padding-left: 0.5rem;
                        color: #AFAFAF;
                    }

                    @include tablet {
                        justify-content: flex-end;
                        padding: 0rem 0rem 1rem 0rem;
                        ;
                    }

                    &__img {

                        @include tablet {
                            padding: 0rem 0.5rem 0rem 0rem;
                        }
                    }
                }
            }
    }

    .video__desc {
        padding-top: 1rem;
        font-family: $font-family;

        @include desktop {
            padding-right: 2rem;
        }
    }


    .video-info-int-views__viewcount {
        color: $silver;
    }

    .video-info-side__date {
        color: $silver;
    }
